body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f6ff;
  color: #333;
}

h1 {
  color: #2c3e50;
}

.buttons a {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.buttons a:hover {
  background-color: #2980b9;
}

#breeds-container, #images-container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.breed-card {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #ccc;
}

.dog-image {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
}